
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(64, 41, 41);
    border-radius: 8px;
    color: white;
    /* box-shadow: 0 0 10px gold; */
  }
  
  label {
    /* display: block; */
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    /* width: 100%; */
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  button {
    background-color: #6e859d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Add any additional styles as needed */
  